h1 {
  font-family: Roboto;
  text-align: center;
}

 .mom-header {
   display: flex;
   justify-content: space-between;
   padding: 0 15px;
 }

// .Blog {
//    width: 100%;
//   height: 500px;
  
//     background-image: url("/img/banner.jpg");
//        background-size: cover; 
//        background-repeat: no-repeat;
//        color:#ffffff;
    
// }

.logo_02 {
  width: 10%;
  height: 25px;
   object-fit: contain;

}

// .first {
//   width: 100%;
//   height: 300px;
//   background-color: #ffffff;
// }
