.mom-header{
  //background-color: red;
  padding: 30px;
  width :100%;
  //display: flex;
  //flex-direction: row;
  }
.headerbox1{
  //align-items : stretch;
  float: left;

}
.headerbox2{
  float: right;
}
.headerbox2 a{
  color:#fff;
  padding: 10px;
  margin :10px;
}


