.sign-back{
  width: 100%;
  //background-color:  #f4f7f8;
}
  .logo{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
  }

#bdy
{
  background-color:  #f4f7f8;
}
.content
{
  background-color:  #ffffff;
  height:80%;
  width:60%;
  margin:auto;
  border: solid 1px #000;
  text-align:center;
}
input[type=text]{
  width: 100%
  //text-align: left;
}
.form_items{
  display: flex;
  justify-content: center;
  text-align: left;
}


.button1 {
  width: 80px;
  height: 60px;
  border-radius: 30px;
  background-color: #0000ff;
  -moz-border-radius:30px;
  -webkit-border-radius:30px;
  border:1px solid #1ea2ff;
  display: inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Roboto;
  font-size:20px;
  text-align:center;
  padding:15px 30px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #3d768a;
  justify-content: center;
}

.button1:hover {
  background-color:#1ea2ff;
}
.button1:active {
  position: relative;
  top:1px;
}
.Login-with-Google { 
width: 381px;
height: 49px; 
font-family: Roboto; 
font-size: 50px; 
font-weight: normal; 
font-style: normal; 
font-stretch: normal; 
line-height: normal; 
letter-spacing: normal; 
text-align: left; 
color: #ffffff; }

.Rounded-Rectangle-2-copy-3{
  width: 591px;
  height: 130px;
  border-radius: 49px;
  background-image: linear-gradient(330deg, #26c867, #00b7a4), linear-gradient(#f3645c, #f3645c);
}



.button2 {
  width: 280px;
  height: 60px;
  border-radius: 30px;
  background-color: #0000ff;
  -moz-border-radius:30px;
  -webkit-border-radius:30px;
  border:1px solid #1ea2ff;
  display: inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Roboto;
  font-size:20px;
  text-align:center;
  padding:15px 30px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #3d768a;
  justify-content: center;
}

.button2:hover {
  background-color:#1ea2ff;
}

.button2:active {
  position: relative;
  top:1px;
}

.Rounded-Rectangle-2-copy-2 {
  width: 255px;
  height: 95px;
  border-radius: 49px;
  background-color: #ffffff;
  border: solid 3px #a4a8ad;
}

.Get-Started {
  width: 196px;
  height: 31px;
  font-family: Roboto;
  font-size: 40px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #5f6670;
  text-shadow: 0px 1px 0 rgba(0, 0, 0, 0.1);
}
